body {
    background-color: #4d3836;
}

.title {
    width: 300px;
    color: white;
    position: fixed;
    top: 5%;
    left:40%;
    font-size: 30px;
}

.main {
    width: 90%;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -45%;
    background-color: whitesmoke;
}

table,
th,
td {
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
}